<configuration>
  <system.webServer>
    <handlers>
<add name="iisnode" path="server.mjs" verb="*" modules="iisnode" arguments="--experimental-modules" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.mjs\/debug[\/]?" />
        </rule>
        <rule name="StaticContent" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*\.(js|css|html|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|map))$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
<action type="Rewrite" url="server.mjs" />
        </rule>
        <rule name="DynamicContent" patternSyntax="ECMAScript" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.mjs" />
        </rule>
        <!-- HTTPS Redirect Rule -->
        <rule name="Rewrite to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
