<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Redirect all requests to the Node.js app running on port 3000 -->
    <rewrite>
      <rules>
        <rule name="Reverse Proxy to Node.js">
          <match url="(.*)" />
            <action type="Rewrite" url="http://127.0.0.1:4000/{R:1}" />

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
